.details {
  height: 93vh;
  width: 50%;
  border-radius: 20px;
  /* background: url("../../assets/cold-bg.jpg"); */
  /* background-image: url("https://img.freepik.com/free-vector/background-design-with-bright-stars_1308-35042.jpg?w=1480&t=st=1677706905~exp=1677707505~hmac=d5316eaade3c45a1bf00920d7c333fee1e6bdde84c15e07e1145edcd95823682"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 4px solid #F9C811;
}

.details * {
  margin: 0.5rem 0;
}

input, button {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem 0;
}

.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-daily-information {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.title {
  font-size: 1.8rem;
}

.weather-form * {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.weather-daily-information {
  padding-bottom: 0.5rem;
}

.forecast-title {
  text-decoration: underline;
}

input {
  width: 35%;
  outline: 3px solid black;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  outline: 3px solid black;
  font-weight: bold;
  font-size: 1rem;
  width: 10%;
  height: 45px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (min-width: 1450px) {
  .title {
    font-size: 3rem;
    padding: 1.5rem 0;
  }

  h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .weather-daily-information h1:nth-child(6), .weather-daily-information h1:nth-child(7), .weather-daily-information h1:nth-child(8) {
    color: yellow;
  }
}

@media screen and (max-width: 800px) {
  .details {
    width: 70%;
    background-image: none;
  }
  h1, .weather-daily-information h1:first-child {
    color: yellow;
  }
  input, button {
    width: 50%;
  }
  .weather-daily-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }  
}