.details {
  height: 93vh;
  width: 50%;
  border-radius: 20px;
  /* background: url("../../assets/cold-bg.jpg"); */
  /* background-image: url("https://img.freepik.com/free-vector/background-design-with-bright-stars_1308-35042.jpg?w=1480&t=st=1677706905~exp=1677707505~hmac=d5316eaade3c45a1bf00920d7c333fee1e6bdde84c15e07e1145edcd95823682"); */
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 8rem;
}


input, button {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 1rem 0;
}

.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.weather-daily-information, .weather-weekly-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-daily-information h1, .weather-weekly-information h1 {
  background-color: white;
  margin: 2rem 0.5rem;
  overflow-y: hidden;
  border-radius: 30px;
}

.title {
  font-size: 2.3rem;
  color: white;
}

.weather-form * {
  margin: 0 0 0.5rem 0.5rem;
}

.forecast-title {
  text-decoration: underline;
  color: white;
}

input {
  width: 28%;
  outline: 3px solid black;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  outline: 3px solid black;
  font-weight: bold;
  font-size: 1rem;
  width: 10%;
  height: 45px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

@media screen and (min-width: 1450px) {
  .details {
    margin-bottom: 16rem;
  }
  .title {
    font-size: 3rem;
    padding: 1.5rem 0;
  }

  h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .forecast-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .details {
    width: 70%;
    background-image: none;
  }

  input, button {
    width: 50%;
  }
  .weather-daily-information {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }  
  h1 {
   padding: 0rem; 
  }
  .weather-form {
    margin: 2rem 0;
  }
  .details {
    margin-bottom: 9rem;
  }
  .weather-daily-information h1, .weather-weekly-information h1 {
    margin: 1rem 0;
  }
}