.details {
  height: 80vh;
  width: 50%;
  border-radius: 20px;
  background: url("../../assets/cold-bg.jpg");
  /* background-image: url("https://img.freepik.com/free-vector/background-design-with-bright-stars_1308-35042.jpg?w=1480&t=st=1677706905~exp=1677707505~hmac=d5316eaade3c45a1bf00920d7c333fee1e6bdde84c15e07e1145edcd95823682"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid #F9C811;
}

.details * {
  margin: 0.5rem 0;
}

input, button {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem 0;
}

.weather-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-daily-information {
  padding: 2rem;
}

.weather-daily-information h1:first-child {
  text-decoration: underline;
}

input {
  width: 50%;
  padding-left: 1rem;
  outline: 3px solid black;
}

button {
  background-color: orange;
  outline: 3px solid black;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  width: 50%;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

