.Today {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background: linear-gradient(-35deg, #ffffff 0%, #004e92);
}

.details {
  height: 120vh;
  width: 100%;
  border-radius: 20px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

#location {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1865/1865269.png");
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat;
}

.picture {
  background-image: url("https://react-weather-app-leroywagner.vercel.app/animated/cloudy-day-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  padding-top: 8rem;
}

input, button {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 1rem 0;
}

input:hover, button:hover {
  background-color: yellow;
}

.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 3rem 1rem;
}

.weather-daily-information, .weather-weekly-information {
  background-color: white;
  font-family: "Nunito";
  border-radius: 50px;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 40px;
}

.weather-weekly-information h1 {
  font-size: 1.8rem;
}

.temp {
  font-size: 5rem;
}
.smaller-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.smaller-details h1:nth-child(1), .smaller-details h1:nth-child(2), .smaller-details h1:nth-child(3), .date {
  font-weight: 700;
}
.smaller-details h1:nth-child(4), .smaller-details h1:nth-child(5), .smaller-details h1:nth-child(6) {
  font-weight: 400;
}

.title {
  font-size: 2.3rem;
  color: black;
  padding-bottom: 0;
  padding-top: 2.7rem;
}

.weather-form * {
  margin: 0 0 0.5rem 0.5rem;
}

input {
  width: 20%;
  outline: 3px solid black;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  outline: 3px solid black;
  font-weight: bold;
  font-size: 1rem;
  width: 5%;
  height: 45px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

@media screen and (min-width: 1450px) {
  .title {
    font-size: 3rem;
    padding: 5rem 0 0 0;
  }

  h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .picture {
    background-size: 10%;
  }
  .weather-daily-information {
    margin-left: 25rem;
    margin-right: 25rem;
  }
}

@media screen and (min-width: 2350px) {
  .picture {
    background-size: 7.5%;
  }
  .weather-daily-information {
    margin-left: 45rem;
    margin-right: 45rem;
  }
  #location {
    background-size: 30%;
  }
}
@media screen and (min-width: 2950px) {
  .picture {
    background-size: 7.5%;
  }
  .weather-daily-information {
    margin-left: 65rem;
    margin-right: 65rem;
  }
  #location {
    background-size: 22%;
  }
}

@media screen and (max-width: 1100px) {
  .details {
    width: 80%;
  }
  input {
    width: 50%;
  }
  button {
    width: 10%;
  }
  h1 {
   padding: 0rem; 
  }
  .details {
    margin-bottom: 9rem;
  }
  .forecast-title {
    margin: 0 0 1rem 0;
  }
  .Today {
    height: 135vh;
  }
  .weather-daily-information h1, .weather-weekly-information h1 {
    margin: 1rem 0;
  }
  .weather-daily-information, .weather-weekly-information {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .picture {
    background-size: 25%;
  }
  #location {
    background-size: 52%;
  }
}