.details {
  height: 120vh;
  width: 80%;
  border-radius: 20px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.picture {
  background-image: url("https://react-weather-app-leroywagner.vercel.app/animated/cloudy-day-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  padding-top: 8rem;
}

input, button {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 1rem 0;
}

input:hover, button:hover {
  background-color: yellow;
}

.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 3rem 1rem;
}

.first-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.second-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.weather-daily-information h1, .weather-weekly-information h1 {
  background-color: white;
  margin: 1.3rem 0.5rem;
  overflow-y: hidden;
  border-radius: 30px;
}

.title {
  font-size: 2.3rem;
  color: white;
  padding-bottom: 0;
  padding-top: 2.7rem;
}

.weather-form * {
  margin: 0 0 0.5rem 0.5rem;
}

.forecast-title {
  background-color: white;
  color: black;
  margin: 0rem 12.5rem 1.5rem 12.5rem;
  border-radius: 30px;
}

input {
  width: 28%;
  outline: 3px solid black;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  outline: 3px solid black;
  font-weight: bold;
  font-size: 1rem;
  width: 10%;
  height: 45px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

@media screen and (min-width: 1450px) {
  .title {
    font-size: 3rem;
    padding: 5rem 0 0 0;
  }

  h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .forecast-title {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .picture {
    background-size: 15%;
  }
}

@media screen and (max-width: 800px) {
  .details {
    width: 70%;
    background-image: none;
  }

  input, button {
    width: 50%;
  }
  .first-row, .second-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }  
  h1 {
   padding: 0rem; 
  }
  .weather-form {
    margin: 0 0 2rem 0;
  }
  .details {
    margin-bottom: 9rem;
  }
  .forecast-title {
    margin: 0 0 1rem 0;
  }
  .App {
    height: 135vh;
  }
  .weather-daily-information h1, .weather-weekly-information h1 {
    margin: 1rem 0;
  }
  .picture {
    background-size: 30%;
  }
}