.navbar {
  background-color: #060b26;
  color: white;
  height: 70px;
  position: absolute;
  top: 2.5%;
  left: 25%;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid white;
}

.navbar:hover {
  color: yellow;
  border: 3px solid yellow;
}

.navbar svg {
  position: absolute;
  top: 25%;
  left: 32%;
  font-size: 2rem;
}

@media screen and (max-width: 1050px) {
  .navbar {
    left: 3%;
    top: 2%;
    height: 60px;
    width: 70px;
  }
  .navbar svg {
    position: absolute;
    top: 23%;
    left: 25%;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .navbar {
    left: 31%;
    top: 5%;
    height: 70px;
    width: 80px;
  }
  .navbar svg {
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 2950px) {
  .navbar {
    left: 33.5%;
    top: 5%;
    height: 70px;
    width: 80px;
  }
}

.menu-bars {
  margin-left: 5rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 500ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.close {
  background-color: #060b26;
  color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem 0.5rem 0;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.close:hover {
  background-color: #1a83ff;
}

span {
  margin-left: 16px;
}